/* CSS for Basic Portfolio */

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #77777;
    line-height: 150%;
    background: #ffffff;
    border: #dddddd;
  }
  
  header {
    background: #4aaaa5;
    border: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
section{
    #right{
        background-color: #ffffff;
        color: #777777;
    }
  